@model PROG_POE.Models.Claim

@{
    ViewData["Title"] = "NewClaim";
}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg" style="max-width: 400px; width: 100%; padding: 30px;">
<h1>NewClaim</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewClaim">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="HoursWorked" class="control-label"></label>
                <input asp-for="HoursWorked" class="form-control" />
                <span asp-validation-for="HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourlyRate" class="control-label"></label>
                <input asp-for="HourlyRate" class="form-control" />
                <span asp-validation-for="HourlyRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalNotes" class="control-label"></label>
                <input asp-for="AdditionalNotes" class="form-control" />
                <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
